apiVersion: v1
kind: Secret
metadata:
  name: library-api-secret
type: Opaque
stringData:
  ConnectionStrings__DefaultConnection: "Server=host.minikube.internal,1433;Database=LibraryDb;User Id=library_app;Password=CHANGE_ME;TrustServerCertificate=True;"
  Jwt__Key: "CHANGE_ME_MIN_32_CHARS"